main {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    padding: var(--topMain) var(--leftMain);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
    width: 1000px;
    padding-top: 100px;
}

div.text::selection, a.linkBody::selection, h1::selection {
    background-color: darkslateblue;
    color: white;
}

div.text::selection div.text::first-letter {
    background-color: darkslateblue;
    color:white; 
}

a.linkBody {
    color:rgb(93, 86, 135);
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;
}

li>a {
    text-decoration: none;
}

div.text {
    font-size: 24px;
    line-height: 36px;
    text-align: start;
}

div.text::first-letter {
    padding-left: 32px;
    color: rgb(23, 10, 105);
}

li {
    font-size: 24px;
    list-style: none;
}

:root {
    --bodyWidth: 30vw;
    --leftMain: 48px;
    --topMain: 32px;
    --paddingH1: 16px 120px;
}

h1 {
    font-size: 36px;
    color: rgb(23, 10, 105);
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: var(--paddingH1);
    word-break: break-all;
}

video.film {
    padding-left: 96px;
    padding-right: 96px;
    width: 100%;
    height: 100%;
    user-select: none;
}